/* Global Css */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #3f2b96;
  --headingColor: #494949;
  --backgroundShade: #f5f5f5;
  --github: #ff4081;
  --darkBlue: #1a1a2e;
  --black: #000;
  --white: #fff;
}

body.dark-theme {
  --primary: #7b61ff;
  --headingColor: #e0e0e0;
  --backgroundShade: #121212;
  --github: #ff4081;
  --darkBlue: #fff;
  --black: #fff;
  --white: #1e1e1e;
}


.btn {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 1s;
}

.btnOutlinePrimary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}

body.dark-theme .btnOutlinePrimary {
  color: var(--black);
  background-color: var(--primary);
}

.btnOutlinePrimary:hover {
  color: var(--white);
  background-color: var(--primary);
}

body.dark-theme .btnOutlinePrimary:hover {
  /* color: var(--white); */
  border: 1px solid var(--primary);
  background-color: var(--white);
  color: var(--black);
}

.btnPrimary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

body.dark-theme .btnPrimary {
  color: var(--black);
}

.btnPrimary:hover {
  color: var(--primary);
  background-color: var(--white);
}

.svg {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.btnGithub {
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}

body.dark-theme .btnGithub {
  color: var(--black);
}

.btnGithub:hover {
  color: var(--black);
  background-color: var(--white);
}

body.dark-theme .btnGithub:hover {
  border: 1px solid var(--github);
}

.arrowBtn {
  color: var(--darkBlue);
  text-decoration: none;
}

.arrowBtn:hover {
  color: var(--github);
  border-bottom: 1px solid var(--github);
}

/*Global section ends here  */

/* Headings */
h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

/* paragraph */
.textMd {
  color: var(--darkBlue);
  font-size: 16px;
}

.textSm {
  color: var(--black);
  font-size: 14px;
}

/* SectionTitles */
.sectionTitle {
  color: var(--headingColor);
  font-size: 21px;
  font-weight: 600;
  line-height: 32px;
}

/* Navbar Style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 85px;
  background-color: var(--white);
  box-shadow: 0px 5px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbarItems>ul {
  list-style: none;
  display: flex;
  gap: 43px;
}

.navbarContent {
  color: var(--darkBlue);
  font-size: 16px;
  cursor: pointer;
}

.navbarActiveContent {
  color: var(--primary);
}

/* hero Section Style */
.heroSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 85px;
  align-items: center;
  gap: 32px;
  background-color: var(--backgroundShade);
}

body.dark-theme .heroSection {
  background-color: black;
}

.heroSectionContentBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.heroSectionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.heroSectionTitle {
  color: var(--headingColor);
  font-size: 75px;
}

.heroSectionTitleColor {
  color: var(--primary);
}

.heroSectionDescription {
  color: var(--darkBlue);
  font-size: 24px;
  line-height: 36px;
}

.heroSectionImg>img {
  width: 100%;
  height: 100%;
}

/* Skills Section Style */
.skillsSection {
  display: flex;
  flex-direction: column;
  padding: 85px;
  gap: 100px;
}

body.dark-theme .skillsSection {
  background-color: var(--backgroundShade);
}

.skillsSectionHeading {
  color: var(--headingColor);
  font-size: 64px;
}

.skillsSectionContainer {
  display: grid;
  gap: 42px;
  grid-template-columns: repeat(4, 1fr);
}

.skillsSectionCard {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 10px;
  background-color: var(--backgroundShade);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.skillsSectionCard:hover {
  transform: scale(1.03);
}

.skillsSectionCard:hover .skillsSectionDescription {
  color: var(--darkBlue);
}

.skillSectionImg {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}

.skillsImg {
  border-radius: 5%;
  width: 150px;
  height: 150px;
}

.skillsSectionCardContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.skillsSectionTitle {
  color: var(--headingColor);
  font-size: 32px;
}

.skillsSectionDescription {
  color: var(--black);
  font-size: 23px;
}

/* AboutSection */
.aboutSection {
  display: grid;
  padding: 85px;
  align-items: center;
  gap: 144px;
  grid-template-columns: repeat(2, 1fr);
}

body.dark-theme .aboutSection {
  background-color: black;
}

.aboutSectionImg>img {
  width: 100%;
  height: 100%;
}

/* Portfolio Section */
.portfolioSection {
  display: flex;
  padding: 85px;
  flex-direction: column;
  gap: 80px;
}

body.dark-theme .portfolioSection {
  background-color: var(--backgroundShade);
}

.portfolioContainerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolioContainer {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.porfolioSectionContainer {
  display: flex;
  align-items: center;
  gap: 42px;
  width: 100%;

}


.portfolioSectionImg>img {
  border-radius: 5%;
  width: 100%;
}

.portfolioSectionCard {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1 0 0;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  border-radius: 5%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.portfolioSectionCard:hover,
.testimonialSectionCard:hover {
  transform: scale(1.03);
}

.portfolioSectionCardContent {
  display: flex;
  padding: 32px;
  flex-direction: column;
  gap: 32px;
}

.portfolioSectionTitle {
  color: var(--headingColor);
}

.porfolioLink {
  text-decoration: none;
  font-weight: 600;
}

.portfolioGithubLive {
  display: flex;
  justify-content: space-between;
}

.portfolioGithubLive p:first-child {
  order: 2;
}

.portfolioGithubLive p:last-child {
  order: 1;
}

/* Testimonial */
.testimonialSection {
  display: flex;
  padding: 85px;
  flex-direction: column;
  gap: 80px;
  background-color: var(--backgroundShade);
}

body.dark-theme .testimonialSection {
  background-color: black;
}

.sectionHeading {
  color: var(--headingColor);
}

.testimonialSectionCard {
  display: flex;
  padding: 42px;
  flex-direction: column;
  gap: 42px;
  border-radius: 8px;
  border: 1px solid #006b61;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.testimonialSectionCardReview {
  display: flex;
  gap: 5px;
}

.tesitmonialSectionCardAuthorDetail {
  display: flex;
  align-items: center;
  gap: 21px;
}

.ClientAvatar {
  border-radius: 5%;
}

.testimonialAuthorName {
  font-weight: 600;
  color: var(--headingColor);
}

.testimonialAuthorDesignation {
  color: var(--darkBlue);
  font-size: 16px;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Modes */
.modes {
  display: flex;
  justify-content: center;
  color: var(--darkBlue);
}

.modesIcon {
  font-size: 30px;
  cursor: pointer;
}

/* contact Section */
.contactSection {
  display: flex;
  padding: 85px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 64px;
}

body.dark-theme .contactSection {
  background-color: var(--backgroundShade);
}

.contactFormContainer {
  display: grid;
  width: 40%;
  row-gap: 32px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 32px;
  row-gap: 32px;
}

.contactLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.contactInput {
  font-family: "Roboto";
  padding: 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--primary);
  background: var(--white);
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  width: 21px;
  height: 21px;
}

/* footer Section */
.footerContainer {
  display: flex;
  padding: 85px 85px 50px 85px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--bg-shade);
  align-items: center;
  align-self: stretch;
}

body.dark-theme .footerContainer {
  background-color: var(--white);
}

.footerLinkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footerItems>ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42px;
  text-decoration: none;
}

.footerSocialIcon>ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.footerIcon {
  color: var(--darkBlue);
  font-size: 30px;
  cursor: pointer;
}

.divider {
  margin: 42px;
  height: 1px;
  width: 100%;
  background: rgba(40, 41, 56, 0.55);
}

.footerContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footerContent {
  color: var(--black);
  font-size: 18.667px;
  font-weight: 400;
  line-height: 28px;
}

.footerIcon {
  fill: var(--darkBlue);
}

/* Hamburger menu */
.navHamburger {
  display: none;
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 25px;
}

.navHamburgerLine {
  display: block;
  height: 0.21rem;
  width: 100%;
  background-color: #000;
  border-radius: 0.6rem;
  transition: all ease-in-out 0.2s;
}

body.dark-theme .navHamburgerLine {
  background-color: white;
}

/*Whatsapp  */
.whatsappContainer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #25D366;
  border-radius: 50%;
  padding: 10px 10px 8px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.whatsappContainer:hover {
  transform: scale(1.1);
}

.whatsappIcon {
  font-size: 32px;
  color: #fff;
}

/* Media Queries Responsive Screens */
@media only screen and (max-width: 1800px) {
  .heroSectionTitle {
    font-size: 68px;
  }

  .skillsSectionTitle {
    font-size: 28px;
  }
}

/* max width 1600px */
@media only screen and (max-width: 1600px) {
  .skillsSectionHeading {
    font-size: 54px;
  }

  .skillsSectionContainer {
    gap: 16px;
  }

  .skillsSectionCard {
    gap: 28px;
  }

  .skillsSectionCardContent {
    gap: 20px;
  }

  .skillsSectionTitle {
    font-size: 23px;
  }

  .skillsSectionDescription {
    font-size: 17px;
  }
}

/* max width 1200px */
@media only screen and (max-width: 1200px) {
  .btnOutlinePrimary {
    display: none;
  }

  .heroSection {
    display: flex;
    flex-direction: column-reverse;
  }

  .heroSectionTitle,
  .heroSectionDescription,
  .footerContent {
    text-align: center;
    font-size: 17px;
  }

  .skillsSectionContainer,
  .aboutSection,
  .porfolioSectionContainer,
  .portfolioContainerBox,
  .footerLinkContainer,
  .footerItems>ul,
  .footerContentContainer {
    display: flex;
    flex-direction: column;
  }

  .skillsSection,
  .portfolioContainer,
  .heroSectionContent,
  .heroSectionContentBox {
    align-items: center;
  }

  .portfolioContainerBox {
    gap: 30px;
  }

  .contactFormContainer {
    width: 100%;
    justify-content: center;
  }

  .heroSection,
  .skillsSection,
  .aboutSection,
  .portfolioSection,
  .contactSection,
  .footerContainer {
    padding: 50px;
  }

  .skillsSection,
  .testimonialSection,
  .contactSection,
  .footerContainer {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .aboutSection {
    gap: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .testimonialSectionCard {
    padding: 25px;
  }

  .heroSectionTitle,
  .skillsSectionHeading,
  .sectionHeading {
    font-size: 25px;
  }

  .heroSectionContentBox {
    gap: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footerSocialIcon>ul,
  .footerItems>ul {
    padding: 0;
    align-items: center;
  }

  .divider {
    margin: 20px;
  }

  .svg {
    width: 45px;
    height: 45px;
  }

  .navbar {
    padding-left: 20px;
  }

  .modesIcon {
    font-size: 25px;
    position: relative;
    left: 30px;
  }
}

/* Language Selector */
.lang-select-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.world-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.world-icon {
  font-size: 27px;
  color: var(--darkBlue);
  transition: color 0.2s ease;
}


.language-modal {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  width: 85%;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
}

body.dark-theme .language-modal {
  background-color: #1e1e1e;
  box-shadow: 0 2px 1px rgba(255, 255, 255, 0.15);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h3 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

body.dark-theme .modal-header h3 {
  color: #fff;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

body.dark-theme .close-button {
  color: #fff;
}


.language-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.language-option {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #000;
}

body.dark-theme .language-option {
  color: #fff;
}

body:not(.dark-theme) .language-option:hover,
body:not(.dark-theme) .language-option.selected {
  border-color: var(--primary);
  background-color: #e0e0e0;
}

/* Dark Theme */
body.dark-theme .language-option:hover,
body.dark-theme .language-option.selected {
  border-color: var(--primary);
  background-color: #333;
}


.language-label {
  font-weight: 500;
  margin-bottom: 4px;
}

.language-region {
  font-size: 12px;
  color: f00;
}

body.dark-theme .language-region {
  color: #dacbcb;
}

/* Backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


/*media queries for hamburger */
@media screen and (max-width: 1200px) {
  .navHamburger {
    display: flex;
    z-index: 200;
  }

  .navbarItems {
    display: flex;
  }

  .navbarItems {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    top: -200rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }

  body.dark-theme .navbarItems {
    background-color: #1e1e1e;
  }

  .navbarItems ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }

  .navbarItems ul li {
    text-align: center;
  }

  .navbarItems ul li a {
    padding: 0.5rem;
  }

  .navbarItems {
    z-index: -100;
  }

  .navbarItems.active {
    top: 30px;
  }

  .navHamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.35rem, 0.12rem);
  }

  .navHamburger.active :nth-child(2) {
    opacity: 0;
  }

  .navHamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.35rem, -0.15rem);
  }
}

/* media Query for below 600px*/
@media screen and (max-width: 600px) {

  .sectionTitle,
  .subTitle {
    font-size: 17px;
  }

  .heroSectionTitle,
  .skillsSectionHeading,
  .sectionHeading,
  .skillsSectionTitle {
    font-size: 21px;
  }

  .heroSectionDescription,
  .footerContent {
    font-size: 16px;
  }

  .heroSection,
  .skillsSection,
  .aboutSection,
  .portfolioSection,
  .contactSection,
  .footerContainer {
    padding: 40px;
  }

  .language-modal {
    top: 30%;
  }
}